@model IEnumerable<W24TP.Controllers.CategoryDisplay>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table table-sm table-striped table-hover">

    <thead>
        <tr>
            <th scope="col">Category Name</th>           
            <th scope="col">Creation Date</th>
            <th scope="col">Creator's Username</th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="">
            <td scope="row">@Html.DisplayFor(modelItem => item.CategoryName)</td>
            <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
            <td>@Html.DisplayFor(modelItem => item.AspNetUser.Email)</td>
            <td>
                <a href="/Categories/Edit/@item.CatID"><i class="icon ion-md-create"></i></a>
                <a href="/Categories/Details/@item.CatID"><i class="icon ion-md-clipboard"></i></a>
                <a href="/Categories/Delete/@item.CatID"><i class="icon ion-md-trash"></i></a>
            </td>
        </tr>
        }
    </tbody>

</table>
