@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    420 Awesome Street<br/>
    Cary, NC 27511<br/>
    <abbr title="Phone">P:</abbr>
    420.069.1337
</address>

<address>
    <strong>Support:</strong> <a href="mailto:exerapidoxthorn@gmail.com">exerapidoXthorn@gmail.com</a><br />
    <strong>Better support:</strong> <a href="mailto:king@numsgil.co">king@numsgil.co</a><br />
</address>